//Размеры
@radius: 10px;
@radius2x: 2 * @radius;
@padding: 10px;
@padding2x: 2 * @padding;
@mainMenuWidth: 85px;
@topMenuHeight: 85px;
//Цвета
@primaryColor: #97fc6e;
@primaryTextColor: #7a7a7a;
@backgroundColor: #979EA7;
@windowColor: #FDFDFD;
@mainMenuColor: #465663;
@topMenuColor: white;
