//Размеры
@radius: 10px;
@radius2x: 2 * @radius;
@padding: 10px;
@padding2x: 2 * @padding;
@mainMenuWidth: 85px;
@topMenuHeight: 85px;
//Цвета
@primaryColor: #97fc6e;
@primaryTextColor: #7a7a7a;
@backgroundColor: #979EA7;
@windowColor: #FDFDFD;
@mainMenuColor: #465663;
@topMenuColor: white;
@headersColor: #465663;

@btnPrimaryColor: #97fc6e;
@btnSecondaryColor: #8c8c8c;
@btnSuccessColor: #a2d364;
@btnWarningColor: #fcbe6e;
@btnDangerColor: #fc7e72;
@btnInfoColor: #80bafc;

@btnTextPrimaryColor: #1f1f1f;
@btnTextSecondaryColor: #1f1f1f;
@btnTextSuccessColor: #124601;
@btnTextWarningColor: #773e00;
@btnTextDangerColor: #720101;
@btnTextInfoColor: #011472;
