@import "common";

body {
  margin: 0;
  padding: 0px;
  background-color: @backgroundColor;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main {
  margin: @padding;
  height: calc(100vh - @padding2x);
  width: calc(100% - @padding2x);
  background-color: @windowColor;
  border-radius: @radius2x;
  overflow: hidden;
  display: flex;

  .main-content {
    width: calc(100% - @mainMenuWidth);
    height: 100%;
  }
}
