.btn {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #97fc6e;
  background-color: #97fc6e;
  color: #1f1f1f;
  cursor: pointer;
}
.btn.btn__block {
  display: block;
  width: calc(100% - 3 * 20px);
  text-align: center;
}
.btn:hover {
  background-color: #73fb3c;
}
.btn.btn__outline {
  background-color: rgba(151, 252, 110, 0);
  border-width: 2px;
}
.btn.btn__outline:hover {
  background-color: rgba(151, 252, 110, 0.15);
}
.btn.btn__icon {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.btn.btn__icon img {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
.btn.btn__only-icon {
  padding: 0;
  width: 48px;
  height: 48px;
}
.btn.btn__only-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 0;
}
.btn.secondary {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #8c8c8c;
  background-color: #8c8c8c;
  color: #1f1f1f;
  cursor: pointer;
}
.btn.secondary.btn__block {
  display: block;
  width: calc(100% - 3 * 20px);
  text-align: center;
}
.btn.secondary:hover {
  background-color: #737373;
}
.btn.secondary.btn__outline {
  background-color: rgba(140, 140, 140, 0);
  border-width: 2px;
}
.btn.secondary.btn__outline:hover {
  background-color: rgba(140, 140, 140, 0.15);
}
.btn.secondary.btn__icon {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.btn.secondary.btn__icon img {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
.btn.secondary.btn__only-icon {
  padding: 0;
  width: 48px;
  height: 48px;
}
.btn.secondary.btn__only-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 0;
}
.btn.success {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #a2d364;
  background-color: #a2d364;
  color: #124601;
  cursor: pointer;
}
.btn.success.btn__block {
  display: block;
  width: calc(100% - 3 * 20px);
  text-align: center;
}
.btn.success:hover {
  background-color: #8ac83c;
}
.btn.success.btn__outline {
  background-color: rgba(162, 211, 100, 0);
  border-width: 2px;
}
.btn.success.btn__outline:hover {
  background-color: rgba(162, 211, 100, 0.15);
}
.btn.success.btn__icon {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.btn.success.btn__icon img {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
.btn.success.btn__only-icon {
  padding: 0;
  width: 48px;
  height: 48px;
}
.btn.success.btn__only-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 0;
}
.btn.warning {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #fcbe6e;
  background-color: #fcbe6e;
  color: #773e00;
  cursor: pointer;
}
.btn.warning.btn__block {
  display: block;
  width: calc(100% - 3 * 20px);
  text-align: center;
}
.btn.warning:hover {
  background-color: #fba83c;
}
.btn.warning.btn__outline {
  background-color: rgba(252, 190, 110, 0);
  border-width: 2px;
}
.btn.warning.btn__outline:hover {
  background-color: rgba(252, 190, 110, 0.15);
}
.btn.warning.btn__icon {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.btn.warning.btn__icon img {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
.btn.warning.btn__only-icon {
  padding: 0;
  width: 48px;
  height: 48px;
}
.btn.warning.btn__only-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 0;
}
.btn.danger {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #fc7e72;
  background-color: #fc7e72;
  color: #720101;
  cursor: pointer;
}
.btn.danger.btn__block {
  display: block;
  width: calc(100% - 3 * 20px);
  text-align: center;
}
.btn.danger:hover {
  background-color: #fb5040;
}
.btn.danger.btn__outline {
  background-color: rgba(252, 126, 114, 0);
  border-width: 2px;
}
.btn.danger.btn__outline:hover {
  background-color: rgba(252, 126, 114, 0.15);
}
.btn.danger.btn__icon {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.btn.danger.btn__icon img {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
.btn.danger.btn__only-icon {
  padding: 0;
  width: 48px;
  height: 48px;
}
.btn.danger.btn__only-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 0;
}
.btn.info {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #80bafc;
  background-color: #80bafc;
  color: #011472;
  cursor: pointer;
}
.btn.info.btn__block {
  display: block;
  width: calc(100% - 3 * 20px);
  text-align: center;
}
.btn.info:hover {
  background-color: #4e9ffb;
}
.btn.info.btn__outline {
  background-color: rgba(128, 186, 252, 0);
  border-width: 2px;
}
.btn.info.btn__outline:hover {
  background-color: rgba(128, 186, 252, 0.15);
}
.btn.info.btn__icon {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.btn.info.btn__icon img {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
.btn.info.btn__only-icon {
  padding: 0;
  width: 48px;
  height: 48px;
}
.btn.info.btn__only-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  margin-right: 0;
}
/*# sourceMappingURL=btn.css.map */